.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, rgba(26,235,182,1) 47%, rgba(26,235,182,1) 38%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 100%);
}

.help {
  position: absolute;
  top: 85px;
  right: 250px;
  color: black;
  font-weight: 600;
}

.formCard {
  display: flex;
  gap: 25%;
  box-shadow: 0px 0px 10px 0 grey;
  padding: 120px 80px;
  width: 70%;
  height: 80vh;
}

.leftCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.leftCard h1 {
  font-size: 45px;
}

.leftCard p {
  font-size: 20px;
  font-weight: 700;
}

.rightCard {
  width: 100%;
}